.panel-heading {
    background-color: rgb(193, 35, 0) !important;
    color: white !important;
    border-radius: 0px !important;
}

.form-control {
    height: 27px !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.inventarioTable tr td {
    vertical-align: top;
}

.checkbox, .checkbox label {
    display: inline-block;
    position: relative !important;
    margin: 0 !important;
    color: #2ab27b !important;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    color: #f2f2f2;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    color: #f2f2f2;
    font-family: Arial, sans-serif;
}

input[type="radio"] + label span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 10px 0 0;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked + label span {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #2ab27b;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #2ab27b;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #2ab27b;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2ab27b;
}

.noPadding {
    padding: 0px !important;
    margin: 0px !important;
}

.infoEquipoComputo {
    color: #2ab27b;
}

.infoEquipoComputo.descompuesto {
    color: #bf5329;
}

.infoEquipoComputo h4, .infoEquipoComputo p, .infoEquipoComputo b {
    color: #636b6f;
}

.infoEquipoComputo .progress {
    height: 10px;
}

.equipoItem .number {
    background: #2ab27b;
    color: white;
    width: 80px;
    text-align: center;
    margin: auto;
    height: 80px;
    font-size: 28pt;
    line-height: 2;
    border-radius: 100px;
}

.descompuesto .equipoItem .number {
    background: #bf5329;
}
.textArea {
    background: #2ab27b;
    width: 100%;
    min-height: 150px;
    color: white;
    padding: 5px 10px;
}
.descompuesto .textArea {
    background: #bf5329;
    color: white;
}
.textArea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

.textArea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
}

.textArea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
}

.textArea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}