.page {
  padding: 20px;
}
.full-page {
  height: 100%;
  padding: 0;
}
.page-core {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 60px 10px;
  background-color: $slategray;
  overflow: auto;
}
